@import "variables";
@import "header";
@import "footer";
@import "contacto";

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    background-image: map-get($map: $paleta, $key: fondoGrad );
}

/* Carrousel */

.carousel.inner {
  max-height: 30rem;
}

/* Quienes somos*/
.content {
  padding: 15px 0;
}

.titleQuienes {
  color: black;
  text-align: center;
  height: 80px;
}
.who p {
  max-width: 1055px;
  margin: 0 auto;
}
.services {
  background: #ffffff;
  color: #fff;
}
#card-style {
  width: 30rem;
}


/* Section Zapatilas */

div.gallery {
    @include galeria;
  }
